<div class="tnc">
  <h3>Terms and Conditions</h3>
  <ul>
    <li>App will manually authenticate the approval of Gavyasidhs but it is recommended to verify the authenticity and qualification of the Gavyasidh doctors on your own. App is not responsible for any discrepancies.</li>
    <li>App is not responsible for medicines prescribed by any Gavyasidhs even if he/she is listed on the application.</li>
    <li>The App reserves all rights to remove any user, product or Gavyasidh without any warning, if the listed product(s) or listed Gavyasiddh  violates the terms and conditions.</li>
    <li>Verified gavyasidhs are wholly responsible for the quality of their products and other services listed in the App.</li>
    <li>App has no role in deciding the price of any product. Buyer can directly contact seller and negotiate at their own level.</li>
  </ul>
  <div>
    <button type="button">Agree</button>
    <button>Decline</button>
  </div>

</div>
